:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --background-color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}
.header {
  background-color: var(--background-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-logo-black {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 24px;
  margin-bottom: 25px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-link.current {
  color: #2196f3;
}
.menu-item:not(:last-child) {
  padding-right: 50px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.menu-link:hover {
  color: #2196f3;
}
.menu-link:focus {
  color: #2196f3;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-item:not(:last-child) {
  padding-right: 50px;
}
.contacts-link.current {
  color: #2196f3;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.contact-link:hover {
  color: #2196f3;
}
.contact-link:focus {
  color: #2196f3;
}

.main {
}
.main-section {
  background: #2f303a;
  margin-top: 0 auto;
  width: 1200px;
  height: 600px;
  margin-left: 215px;
}
.main-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.main-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: var(--background-color);
}
.main-button:hover {
  background-color: #188ce8;
}
.main-button:focus {
  background-color: #188ce8;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-menu {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  margin: -30px;
  background: var(--background-color);
  position: absolute;
  width: 1200px;
  height: 101px;
  margin-left: 215px;
  margin-top: auto;
}
.main-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  width: 270px;
}
.main-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.employment {
  position: absolute;
  width: 1200px;
  height: 386px;
  left: 215px;
  top: 969px;
  background: var(--background-color);
}
.employment-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}
.employment-menu {
  display: flex;
  margin-left: -30px;
}
.employment-item {
  background: var(--background-color);
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
}
.personnel {
  position: absolute;
  width: 1200px;
  height: 648px;
  left: 215px;
  top: 1449px;
  background: #f5f4fa;
}
.personnel-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.personnel-menu {
  display: flex;
  margin-left: -30px;
}
.personnel-item {
  flex-basis: calc((100%-120px) / 4);
  margin-left: 30px;
  background-color: var(--background-color);
}
.personnel-img {
}
.personnel-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.personnel-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.footer {
  position: absolute;
  width: 1200px;

  margin-top: 1417px;
  background-color: var(--secondary-color);
  margin-left: 215px;
  padding-top: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer-menu-adress {
  padding-top: 20px;
}
.footer-item-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  padding-bottom: 9px;
}
.footer-link-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-link-adress-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-adress:hover {
  color: #2196f3;
}
.footer-link-adress:focus {
  color: #2196f3;
}
.footer-link-adress-two:hover {
  color: #2196f3;
}
.footer-link-adress-two:focus {
  color: #2196f3;
}
/* portfolio*/
.main-portfolio {
  position: absolute;
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
}
.portfolio-navigation {
  padding-bottom: 34px;
}
.container-button-menu {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.container-button-item:not(:last-child) {
  padding-right: 8px;
}

.container-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}
.container-button.current {
  color: #2196f3;
}
.container-button:hover {
  background-color: #2196f3;
  color: var(--background-color);
}
.container-button:focus {
  background-color: #2196f3;
  color: var(--background-color);
}
.work-section {
}
.work-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.work-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.work-img {
}
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.work-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
